!DOCTYPE html>
<html>
  <head>
    <title>LundiS7_project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <ul>
            
            <li>LundiS7_project</li>
            <li>Samuel<img src=""></li>
            <li><a href="https://www.thehackingproject.org/dashboard/weeks/7/days/1?locale=fr"> clique ici </a></li>


        </ul>
    </header>
    <content>
        
    </content>
    <footer>
        
    </footer>
  </body>
</html>
