* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #C0AD00;
  color: #fff;
  padding-bottom: 60px;
}

.title {
  text-align: center;
  font-size: 80px;
  padding: 120px 0;
}

/*#section1 {
  min-height: 100vh;
}*/

.header {
  background-image: url(img/vector_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin-bottom: 60px;
}

.container {
  width: 80%;
  max-width: 1920px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.image-ruby {
  margin-right: 150px;
  width: 35%;
}

.sous-titre {
  font-size: 60px;
  margin-bottom: 40px;
}

.text {
  font-size: 30px;
}

@keyframes fadeIn {
  from {top: 20%; opacity: 0;}
  to {top: 100; opacity: 1;}
  
}

@-webkit-keyframes fadeIn {
  from {top: 20%; opacity: 0;}
  to {top: 100; opacity: 1;}
  
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  animation: fadeIn 1000ms ease;
  -webkit-animation: fadeIn 1000ms ease;
  
}

h1 {
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0;
  line-height: 1;
  font-weight: 700;
}

.dot {
  color: #4FEBFE;
}

.slogan  {
  text-align: center;
  margin: 18px;
  font-family: 'Muli', sans-serif;
  font-weight: normal;
  
}

.icons {
  text-align: center;
  
}

.icons i {
  color: #00091B;
  background: #fff;
  height: 15px;
  width: 15px;
  padding: 13px;
  margin: 0 10px;
  border-radius: 50px;
  border: 2px solid #fff;
  transition: all 200ms ease;
  text-decoration: none;
  position: relative;
}

.icons i:hover, .icons i:active {
  color: #fff;
  background: none;
  cursor: pointer !important;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  text-decoration: none;
  
}


.dark-mode {
  background: black;
  color: white;
}

#dark{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  background-color: honeydew;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.sun {
    position: absolute;
    z-index: 100;
    width: 30px;
    /* top: 50%; */
    /* right: 50%; */
    transform: translate(-50%, -50%);
}